ozyClassSchema.rnc

start = poem
poem = element poem {title, Sentence}
title = attribute title {"Ozymandias"}
# The words in blue are called "reserve words" in Relax NG
Sentence = element Sentence {n?, line+}
# Repetition indicators:
# no repetition indicator
# ? zero or one
# + at least one or MORE
# * zero or more
n = attribute n {xsd:integer}
# xsd is a datatype: a standard datatype for a whole number
line = element line {n,text}
